body {
	background-image: url("https://wallpapertag.com/wallpaper/full/2/7/e/448899-widescreen-basketball-court-wallpaper-2560x1440-for-iphone-6.jpg")	
}

span {
	font-family: "Arial Black";	
}

header, footer {
	padding: 1em;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
}

p {
	font-size: 15px;
	font-family: "Arial Black";
}

.divcenter {
	margin: auto;
	width: 60%;
	border: 5px solid black;
	background-color: white;
}

.center {
	font-family: "Arial Black";	
	text-align: center;
}

.clearfix {
	overflow: auto;	
}

.sidenavright {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
}
.sidenavright a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	font-family: "Arial Black";
	color: #818181;
	display: block;
}
.sidenavright a:hover {
	color: #f1f1f1;	
}

/* The side navigation menu */
.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}	
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	font-family: "Arial Black";
	color: #818181;
	display: block;
	transition: 0.3s;	
}
.sidenav a:hover {
	color: #f1f1f1;
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
@media screen and (max-height: 450px) {
	.sidenav {padding-top:15px;}
	.sidenav a {font-size:18px;}
}